
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

.MainText{
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
}

.g-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    
}

.g-wrapper{
    background-color: rgb(10, 10, 153);
    padding: 1rem;
    box-sizing: border-box;
}

.secondText{
    color: rgb(206, 206, 206);
    font-size: 1rem;
}

.g-button{
    color: white;
    background-color: transparent;
    padding: 6px;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    font-size: small;
    
    
}
.g-button:hover{
    filter: blur(0.4px);
}